
! ~/.Xdefaults
! Thayer Williams - http://cinderwick.ca

#include "/home/thayer/.Xresources.c.lightr"

! font rendering for libxft applications (openoffice, etc.) 
Xft.dpi:        96
Xft.rgba:       none
Xft.autohint:   0
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.antialias:  1
Xft.lcdfilter:  lcddefault

Xcursor*theme:  Vanilla-DMZ-AA

!xterm*font:             -*-fixed-medium-r-*-*-13-*-*-*-*-60-iso10646-1
!xterm*boldFont:         -*-fixed-medium-r-*-*-13-*-*-*-*-60-iso10646-1
xterm*font:             -*-terminus-medium-r-*-*-12-*-*-*-*-*-iso10646-1
xterm*boldFont:         -*-terminus-medium-r-*-*-12-*-*-*-*-*-iso10646-1
xterm*boldMode:         false
xterm*faceName:         Courier New
xterm*faceSize:         10
xterm*renderFont:       false
xterm*bellIsUrgent:     true
xterm*dynamicColors:    true
xterm*saveLines:        32767
xterm*scrollBar:        false
xterm*rightScrollBar:   true
xterm*scrollLines:      32767
xterm*scrollTtyKeypress:true
xterm*scrollTtyOutput:  false
xterm*jumpScroll:       true
xterm*multiScroll:      true
xterm*cursorBlink:      false
! match selection for URLs and emails on mouse-click
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:38
xterm*trimSelection: true

! keepassx colourscheme
keepassx*background:    #cfcfcf
keepassx*foreground:    #222222
