! ~/.Xdefaults
! Thayer Williams - http://cinderwick.ca

#include "/home/thayer/.Xresources.c.lightr"

! font rendering for libxft applications (openoffice, etc.) 
Xft.dpi:        96
Xft.rgba:       rgb
Xft.autohint:   0
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.antialias:  1
Xft.lcdfilter:  lcddefault

Xcursor*theme:  Vanilla-DMZ-AA

*font:     xft:monospace:style=Normal:pixelsize=13
*boldFont:     xft:monospace:style=Normal:pixelsize=13
!*font:      -*-dina-medium-r-*-*-15-*-*-*-*-*-*-*

urxvt*urgentOnBell:     true
urxvt*internalBorder:   1
urxvt*saveLines:        32767
urxvt*visualBell:       true
urxvt*jumpScroll:       false
urxvt*scrollBar:        true
urxvt*scrollstyle:      xterm
urxvt*scrollBar_right:  true
urxvt*scrollTtyKeypress:true
urxvt*scrollWithBuffer: false
urxvt*scrollTtyOutput:  false
urxvt*utmpInhibit:      true
urxvt*print-pipe:       cat > $(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
urxvt*perl-lib:         /usr/lib/urxvt/perl/
urxvt*perl-ext-common:  default,matcher
urxvt*keysym.C-Delete:  perl:matcher
urxvt*matcher.button:   1
urxvt*urlLauncher:      firefox
urxvt*depth:            24
urxvt*transparent:      false
urxvt*fading:           0
urxvt*shading:          5
urxvt*tint:             black

! keepassx colourscheme
keepassx*background:    #cfcfcf
keepassx*foreground:    #222222

! xcalc
xcalc*geometry: 220x275
xcalc*font:  xft:Dejavu Sans Mono:style=Normal:pixelsize=13
xcalc.ti.bevel.background:              #222222
xcalc.ti.bevel.screen.background:       Black
xcalc.ti.bevel.screen.DEG.background:   Black
xcalc.ti.bevel.screen.DEG.foreground:   #555555
xcalc.ti.bevel.screen.GRAD.background:  Black
xcalc.ti.bevel.screen.GRAD.foreground:  White
xcalc.ti.bevel.screen.RAD.background:   Black
xcalc.ti.bevel.screen.RAD.foreground:   White
xcalc.ti.bevel.screen.INV.background:   Black
xcalc.ti.bevel.screen.INV.foreground:   Red
xcalc.ti.bevel.screen.LCD.background:   Black
xcalc.ti.bevel.screen.LCD.foreground:   White
xcalc.ti.bevel.screen.LCD.shadowWidth:  0
xcalc.ti.bevel.screen.M.background:     Black
xcalc.ti.bevel.screen.M.foreground:     White
xcalc.ti.bevel.screen.P.background:     Black
xcalc.ti.bevel.screen.P.foreground:     Yellow
xcalc.ti.Command.foreground:            White
xcalc.ti.Command.background:            #777777
xcalc.ti.button5.background:            Orange3
xcalc.ti.button19.background:           #611161
xcalc.ti.button18.background:           #611161
xcalc.ti.button20.background:           #611111
xcalc.ti.button25.background:           #722222
xcalc.ti.button30.background:           #833333
xcalc.ti.button35.background:           #944444
xcalc.ti.button40.background:           #a55555
xcalc.ti.button22.background:           #222262
xcalc.ti.button23.background:           #222262
xcalc.ti.button24.background:           #222272
xcalc.ti.button27.background:           #333373
xcalc.ti.button28.background:           #333373
xcalc.ti.button29.background:           #333373
xcalc.ti.button32.background:           #444484
xcalc.ti.button33.background:           #444484
xcalc.ti.button34.background:           #444484
xcalc.ti.button37.background:           #555595
xcalc.ti.button38.background:           #555595
xcalc.ti.button39.background:           #555595
XCalc*Cursor:           hand2
XCalc*ShapeStyle:       rectangle
! fix a bug with the div button...and the SQRT
xcalc.ti.button20.label: /
xcalc.ti.button3.label: SQRT


